@font-face {
  font-family: "Comfortaa";
  src: url("../app/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Kirang";
  src: url("../app/fonts/KirangHaerang-Regular.ttf") format("truetype");
}

:root {
  --primary-color: #a39471;
  --secondary-color: #b6cbaf;
  --accent-color: #8ab48f;
  --text-color: #070604;
  --background-color: #faf9f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
