.mainHome {
  background-color: #faf9f7;
  min-height: 90vh;
  padding: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.575)),
    url(/splash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.mainHome h1 {
  font-family: "Kirang";
  font-size: 50px;
  color: #faf9f7;
}

.text p {
  color: white;
  font-family: "Comfortaa";
  font-weight: bold;
  font-size: 18px;
  /* width: 60%; */
  line-height: 25px;
}

.text {
  width: 60%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
