.mainNav {
  height: 10vh;
  background-color: #a39471;
}

.mainNav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainNav ul li {
  list-style: none;
}

.mainNav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  font-family: Kirang;
}
